:root {
  scroll-behavior: smooth;
  /* Fonts */
  --primary-font: Montserrat, sans-serif;

  /* Colors */
  --page-color: #fafafa;
  --main-dark-cl: #111111;
  --main-light-cl: #ffffff;
  --accent-cl: #fd9222;
  --grey-cl-10: rgba(17, 17, 17, 0.1);
  --grey-cl-40: rgba(40, 40, 40, 0.4);
  --grey-cl-70: rgba(17, 17, 17, 0.7);
  --light-grey-cl: rgba(255, 255, 255, 0.7);
  --main-dark-bg: #1e1823;

  --main-gradient: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7));

  /* Card set parameters */
  --items: 4;
  --indent: 19px;

  /* Others */
  --btn-radius: 100px;
  --round-radius: 50%;
  --small-radius: 15px;
  --anim: 400ms ease-in;
}

/**
  |============================
  | Common styles
  |============================
*/
body {
  font-family: var(--primary-font);
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  color: var(--main-dark-cl);
  background-color: var(--page-color);
}
/* Reset */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
  color: currentColor;
}
button {
  font-family: inherit;
  cursor: pointer;
}
.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}
/* Base styles */
.section {
  padding-top: 30px;
  padding-bottom: 30px;
}
@media only screen and (min-width: 768px) {
  .section {
    padding-top: 40px;
    padding-bottom: 40px;
  }
}
@media only screen and (min-width: 1200px) {
  .section {
    padding-top: 50px;
    padding-bottom: 50px;
  }
}
.container {
  min-width: 320px;
  max-width: 375px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}
@media only screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    padding-left: 32px;
    padding-right: 32px;
  }
}
@media only screen and (min-width: 1200px) {
  .container {
    max-width: 1168px;
    padding-left: 16px;
    padding-right: 16px;
  }
}
.title {
  margin-bottom: 32px;

  font-weight: 600;
  font-size: 20px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: -0.03em;
  text-transform: uppercase;
}
@media only screen and (min-width: 768px) {
  .title {
    margin-bottom: 50px;

    font-size: 24px;
    line-height: 1.17;
  }
}
.title-accent {
  color: var(--accent-cl);
}
.subtitle {
  margin-bottom: 18px;

  font-weight: 600;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: normal;
}
.subtitle-accent {
  color: var(--main-light-cl);
}
/**
  |============================
  | Buttons styles
  |============================
*/
.btn {
  display: inline-flex;
  justify-content: center;
  align-items: center;

  padding: 12px 28px;

  font-weight: 600;
  font-size: 14px;
  line-height: 1.21;

  background-color: transparent;
  border: 1px solid transparent;
  border-radius: var(--btn-radius);

  transition: color 400ms ease-in, background-color 400ms ease-in, border-color 400ms ease-in;
}
@media only screen and (min-width: 768px) {
  .btn {
    padding: 14px 40px;
  }
}
.accent-btn {
  color: var(--main-light-cl);
  background-color: #fd9222;
}
.accent-btn:hover,
.accent-btn:focus {
  color: var(--accent-cl);
  background-color: #fcf1e0;
}
.primary-btn {
  color: var(--main-light-cl);
  border-color: currentColor;
}
.primary-btn:hover,
.primary-btn:focus {
  color: var(--accent-cl);
}
.secondary-btn {
  font-size: 18px;
  color: var(--main-dark-cl);
  border-color: var(--accent-cl);
}
.secondary-btn:hover,
.secondary-btn:focus {
  color: var(--main-light-cl);
  background-color: var(--accent-cl);
}
/**
  |============================
  | Card set
  |============================
*/
.card-set {
  display: flex;
  flex-wrap: wrap;
  gap: var(--indent);
}
.card-set-item {
  width: calc((100% - var(--indent) * (var(--items) - 1)) / var(--items));
}
/**
  |============================
  | Header styles
  |============================
*/
.header {
  padding-top: 20px;
  padding-bottom: 14px;
}
@media only screen and (min-width: 768px) {
  .header {
    padding-top: 24px;
    padding-bottom: 32px;
  }
}
.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header-nav {
  display: flex;
  align-items: center;
}
.header-logo {
  display: flex;
  align-items: center;
  gap: 4px;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.11;
  letter-spacing: -0.03em;
  color: var(--main-dark-cl);
}
@media only screen and (min-width: 768px) {
  .header-logo {
    margin-right: 101px;
  }
}
@media only screen and (min-width: 1200px) {
  .header-logo {
    margin-right: 447px;
    font-size: 18px;
  }
}
.header-logo-italic {
  font-style: italic;
}
.header-img {
  animation: rotate 3s linear 4s infinite both;
}

.header-logo:hover .header-img {
  animation-play-state: paused;
}
@keyframes rotate {
  0% {
    transform: rotate(0);
  }
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.header-list {
  display: flex;
  align-items: center;
  gap: 24px;
}
@media only screen and (max-width: 767px) {
  .header-list {
    display: none;
  }
}
.header-item {
}
.header-link {
  position: relative;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: -0.02em;
  color: var(--main-dark-cl);
  transition: color 400ms ease-in;
}
.header-link:hover,
.header-link:focus {
  color: var(--accent-cl);
}
.header-link.active::after {
  content: '';
  position: absolute;
  bottom: -10px;
  left: 0;

  display: block;
  width: 100%;
  height: 4px;
  background-color: var(--accent-cl);

  border-radius: 2px;
}
.header-networks {
  display: flex;
  align-items: center;
  gap: 18px;
}
@media only screen and (max-width: 767px) {
  .header-networks {
    display: none;
  }
}
.header-networks-item {
}
.header-networks-link {
  display: block;
  transition: transform 400ms ease-in-out;
}
.header-networks-link:hover,
.header-networks-link:focus {
  transform: scale(1.2);
}
.header-networks-icon {
  fill: none;
  stroke: var(--main-dark-cl);
}
/**
  |============================
  | Hero styles
  |============================
*/
.hero {
  padding-bottom: 72px;
}
.hero-container {
  max-width: 335px;
  padding: 20px;
  padding-top: 395px;
  border-radius: 30px;

  background-color: var(--main-dark-bg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)),
    url('../images/hero/bg_mob@1x.jpg');
}
@media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero-container {
    background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)),
      url('../images/hero/bg_mob@2x.jpg');
  }
}
@media only screen and (min-width: 768px) {
  .hero-container {
    max-width: 704px;
    padding: 40px;
    padding-top: 671px;

    background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)),
      url('../images/hero/bg_tab@1x.jpg');
  }

  @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
    .hero-container {
      background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)),
        url('../images/hero/bg_tab@2x.jpg');
    }
  }
}
@media only screen and (min-width: 1200px) {
  .hero-container {
    max-width: 1136px;
    padding-top: 381px;

    background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)),
      url('../images/hero/bg_desk@1x.jpg');
  }

  @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
    .hero-container {
      background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)),
        url('../images/hero/bg_desk@2x.jpg');
    }
  }
}
.hero-title {
  max-width: 484px;
  margin-bottom: 32px;

  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: -0.03em;
  color: var(--main-light-cl);
}
@media only screen and (min-width: 768px) {
  .hero-title {
    font-size: 28px;
  }
}
.hero-btn {
  font-weight: 600;
  font-size: 14px;
  line-height: 1.21;
  color: var(--main-light-cl);
  background-color: var(--accent-cl);
}
.hero-link {
  display: inline-flex;
  min-width: 183px;
  min-height: 45px;
  padding: 14px 40px;

  font-weight: 600;
  font-size: 14px;
  line-height: 1.21;
  color: var(--main-light-cl);
  background-color: transparent;

  border: 1px solid #ffffff;
  border-radius: 100px;
}
.hero-controls {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 32px 14px;
}
.scroll-down-btn {
  display: inline-flex;
  align-items: center;
  gap: 14px;

  font-weight: 500;
  letter-spacing: -0.03em;
  color: var(--main-light-cl);

  background-color: transparent;
  border: none;
}
@media only screen and (min-width: 768px) {
  .scroll-down-btn {
    margin-left: auto;
  }
}
.circle {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 38px;
  height: 38px;

  background-color: var(--main-light-cl);
  border-radius: var(--round-radius);
}
/**
  |============================
  | Benefits styles
  |============================
*/
.benefits {
  background-color: var(--main-dark-bg);
}
@media only screen and (max-width: 767px) {
  .benefits {
    padding-top: 20px;
    padding-bottom: 20px;
  }
}
@media only screen and (min-width: 768px) {
  .benefits-list {
    display: flex;
    flex-wrap: wrap;
    gap: 32px;
  }
}
@media only screen and (min-width: 1200px) {
  .benefits-list {
    width: 1100px;
    margin: 0 auto;
    gap: 70px;
  }
}
@media only screen and (max-width: 767px) {
  .benefits-item:not(:last-child) {
    margin-bottom: 20px;
  }
}
@media only screen and (min-width: 768px) {
  .benefits-item {
    /* flex-basis: calc((100% - 32px) / 2); */
    width: 336px;
  }
}
@media only screen and (min-width: 1200px) {
  .benefits-item {
    position: relative;
    /* flex-basis: calc((100% - 2 * 70px) / 3); */
    width: 320px;
  }
}
@media only screen and (min-width: 1200px) {
  .benefits-item:not(:last-child)::after {
    content: '';
    position: absolute;
    top: calc(50% - 62px);
    right: -18px;
    display: block;

    width: 1px;
    height: 124px;

    background-color: rgba(255, 255, 255, 0.5);
  }
}
.benefits-thumb {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 62px;
  height: 62px;
  margin-bottom: 22px;

  border-radius: var(--round-radius);
  border: 1px solid rgba(255, 255, 255, 0.5);
}
.benefits-desc {
  color: var(--light-grey-cl);
}
/**
  |============================
  | Ingridients styles
  |============================
*/
.ingridients {
  /* padding-top: 100px; */
}
.ingridients-title {
  max-width: 283px;
  margin: 0 auto;
  margin-bottom: 32px;
}
@media only screen and (min-width: 768px) {
  .ingridients-title {
    max-width: 411px;
    margin-bottom: 28px;
  }
}
.ingridients-desc {
  margin-bottom: 32px;
  text-align: center;
}
@media only screen and (min-width: 768px) {
  .ingridients-desc {
    max-width: 486px;
    margin: 0 auto;
    margin-bottom: 50px;
  }
}
.ingridients-list {
  --items: 1;
  --indent: 20px;
}
@media only screen and (min-width: 768px) {
  .ingridients-list {
    --items: 2;
    --indent: 32px;
  }
}
@media only screen and (min-width: 1200px) {
  .ingridients-list {
    --items: 4;
    --indent: 19px;
  }
}
.ingridients-item {
  position: relative;
  padding: 28px;
  border: 1px solid transparent;
  border-radius: var(--small-radius);
  overflow: hidden;
}
.ingridients-item:nth-child(4n + 1) {
  background-color: var(--accent-cl);
}
.ingridients-item:nth-child(3n) {
  background-color: var(--main-dark-bg);
}
.ingridients-item:nth-child(2n) {
  border-color: var(--accent-cl);
}
.ingridients-img {
  margin: 0 auto;
  margin-bottom: 36px;
}
@media only screen and (min-width: 1200px) {
  .ingridients-img {
    width: 206px;
    height: 160px;
  }
}
.ingridients-subtitle {
  font-weight: 600;
  font-size: 14px;
  text-transform: uppercase;
}
.ingridients-subtitle.light {
  color: var(--main-light-cl);
}
/* overlay text */
.overlay {
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  transform: translateY(100%);

  padding: 20px;
  background-color: #fff;
  border-radius: 15px;

  transition: transform var(--anim);
}
.ingridients-item:hover .overlay {
  transform: translateY(0);
}
.overlay-title {
  margin-bottom: 8px;
  color: #111;
  font-size: 18px;
  font-weight: 600;
  letter-spacing: -0.54px;
  text-transform: uppercase;
}
.overlay-wrapper {
  display: flex;
  align-items: center;
  gap: 6px;
  margin-bottom: 14px;
}
.overlay-label {
  padding: 6px 16px;
  color: #fff;
  font-size: 10px;
  line-height: 12px;
  border-radius: 35px;
  background-color: #fd9222;
  border: 1px solid transparent;
}
.overlay-label.active {
  color: #111;
  border-color: #fd9222;
  background-color: #fafafa;
}
.overlay-desc {
  display: -webkit-box;
  -webkit-line-clamp: 9;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
/**
  |============================
  | How it's made styles
  |============================
*/
@media only screen and (min-width: 768px) and (max-width: 1199px) {
  .made-container {
    max-width: 678px;
  }
}
.made-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
.made-left-side {
  width: 335px;
  height: 500px;
  border-radius: var(--small-radius);
  overflow: hidden;
}
@media only screen and (min-width: 768px) {
  .made-left-side {
    width: 614px;
    height: 400px;
  }
}
@media only screen and (min-width: 768px) {
  .made-left-side {
    width: 600px;
  }
}
.made-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
.made-right-side {
  padding: 20px 14px;

  background-color: var(--main-light-cl);
  border-radius: var(--small-radius);
}
@media only screen and (min-width: 768px) {
  .made-right-side {
    padding: 32px;
  }
}
@media only screen and (min-width: 768px) {
  .made-right-side {
    width: 516px;
  }
}
.made-subtitle {
  margin-bottom: 20px;
}
@media only screen and (min-width: 768px) {
  .made-subtitle {
    margin-bottom: 28px;
  }
}
.made-item:not(:last-child) {
  margin-bottom: 18px;
}
@media only screen and (min-width: 1200px) {
  .made-item:not(:last-child) {
    margin-bottom: 24px;
  }
}
.made-item {
  display: flex;
  gap: 8px;
}
.made-item::before {
  content: '';
  flex-shrink: 0;
  display: block;
  width: 8px;
  height: 8px;
  margin-top: 5px;

  background-color: rgba(76, 76, 76, 1);
  border: 1px solid rgba(236, 237, 237, 1);
  border-radius: 50%;
}
/**
  |============================
  | Reviews styles
  |============================
*/
.reviews {
  padding-bottom: 100px;
}
.reviews-list {
  --items: 1;
  --indent: 16px;
  margin-bottom: 32px;
}
@media only screen and (min-width: 768px) {
  .reviews-list {
    --items: 2;
    margin-bottom: 50px;
  }
}
@media only screen and (min-width: 1200px) {
  .reviews-list {
    --items: 3;
  }
}
.reviews-card {
  display: flex;
  flex-direction: column;
}
@media only screen and (max-width: 767px) {
  .reviews-card:nth-last-child(-n + 2) {
    display: none;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1199px) {
  .reviews-card:nth-last-child(-n + 1) {
    display: none;
  }
}
.reviews-card-top {
  flex-shrink: 0;
  margin: 0 auto;
  margin-bottom: -42px;

  width: 80px;
  height: 80px;

  border-radius: var(--round-radius);
  overflow: hidden;
  z-index: 1;
}
.reviews-img {
}
.reviews-card-bottom {
  height: 100%;
  padding: 24px;
  padding-top: 56px;

  text-align: center;
  background-color: var(--main-light-cl);
  border: 1px solid var(--grey-cl-10);
  border-radius: var(--small-radius);

  box-shadow: 0px 10px 100px 0px rgba(17, 17, 17, 0.03);
}
.reviews-subtitle {
}
.reviews-text {
  color: var(--grey-cl-70);
}
.reviews-btn {
  display: block;
  margin: 0 auto;
}
/**
  |============================
  | Footer styles
  |============================
*/
.footer {
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: var(--main-dark-bg);
}
.footer-top {
  padding-bottom: 32px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}
@media only screen and (min-width: 768px) {
  .footer-top {
    display: flex;
    justify-content: space-between;
    padding-bottom: 50px;
  }
}
.footer-slogan {
  max-width: 300px;

  font-weight: 500;
  font-size: 24px;
  line-height: 1.21;
  color: var(--main-light-cl);
}
@media only screen and (min-width: 768px) {
  .footer-slogan {
    font-size: 28px;
  }
}
@media only screen and (max-width: 767px) {
  .footer-slogan {
    margin-bottom: 32px;
  }
}
.footer-slogan-accent {
  color: var(--accent-cl);
}
.footer-address {
  font-style: normal;
}
.footer-addres-heading {
  margin-bottom: 14px;

  font-weight: 500;
  color: var(--main-light-cl);
}
.footer-address-item:not(:last-child) {
  margin-bottom: 4px;
}
.footer-address-link {
  color: var(--main-light-cl);
  transition: color var(--anim);
}
.footer-address-link:hover,
.footer-address-link:focus {
  color: var(--accent-cl);
}
.footer-bottom {
  padding-top: 24px;
}
@media only screen and (min-width: 768px) {
  .footer-bottom {
    display: flex;
    justify-content: space-between;
  }
}
@media only screen and (min-width: 768px) {
  .footer-nav {
    display: flex;
    align-items: center;
    gap: 24px;
  }
}

@media only screen and (max-width: 767px) {
  .footer-nav {
    margin-bottom: 32px;
  }
}
.footer-nav-link {
  display: block;
  padding: 18px 0;

  line-height: 1.14;
  color: var(--main-light-cl);
  transition: color var(--anim);
}
.footer-nav-link:hover,
.footer-nav-link:focus {
  color: var(--accent-cl);
}
/**
  |============================
  | Footer subscribe form
  |============================
*/
.subscribe-form {
  display: flex;
  gap: 8px;
}
.subscribe-form-label {
  max-width: 313px;
  width: 100%;
}
.subscribe-form-input {
  width: 100%;
  height: 52px;
  padding: 14px 24px;
  border: 1px solid rgba(255, 255, 255, 0.15);
  border-radius: 30px;
  background-color: transparent;
  outline: transparent;

  font-size: 14px;
  letter-spacing: -0.36px;
  color: rgba(255, 255, 255, 0.3);

  transition: border-color var(--anim);
}
@media only screen and (min-width: 1200px) {
  .subscribe-form-input {
    font-size: 18px;
  }
}
.subscribe-form-input:focus {
  border-color: var(--accent-cl);
}
.subscribe-form-input::placeholder {
  color: currentColor;
}
.footer-btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;

  gap: 16px;

  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
}
/**
  |============================
  |  Modal styles
  |============================
*/
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;

  width: 100%;
  height: 100%;

  background-color: rgba(0, 0, 0, 0.3);

  transition: opacity 250ms ease-out, visibility 250ms ease-out;
}
.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);

  max-width: 311px;
  width: 100%;
  padding: 32px 24px;

  background-color: #fafafa;
  border-radius: 15px;

  transition: opacity 300ms ease-out 250ms, transform 300ms ease-out 250ms;
}
@media only screen and (min-width: 768px) {
  .modal {
    max-width: 517px;
    padding: 40px;
  }
}
.backdrop.is-hidden .modal {
  opacity: 0;
  transform: translateX(-50%) translateY(-70%);
}
.modal-btn {
  position: absolute;
  top: 24px;
  right: 24px;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 28px;
  height: 28px;
  padding: 0;

  border: none;
  background-color: transparent;
}
@media only screen and (max-width: 767px) {
  .modal-btn {
    top: 12px;
    right: 12px;
  }
}
.modal-icon {
  stroke: #111111;
}
@media only screen and (max-width: 767px) {
  .modal-icon {
    width: 24px;
    height: 24px;
  }
}
.modal-caption {
  display: block;

  margin-bottom: 32px;

  color: #111;

  font-size: 20px;
  font-weight: 600;
  line-height: 28px;
  letter-spacing: -0.72px;
  text-transform: uppercase;
}
@media only screen and (min-width: 768px) {
  .modal-caption {
    width: 298px;
    margin-bottom: 40px;
    font-size: 24px;
  }
}
.modal-form-field {
  position: relative;
  display: block;
  margin-bottom: 18px;
}
.modal-form-label {
  display: block;
  margin-bottom: 4px;

  color: rgba(64, 64, 64, 0.3);
  font-size: 14px;
  line-height: normal;
  letter-spacing: -0.28px;
}
@media only screen and (min-width: 768px) {
  .modal-form-label {
    margin-bottom: 8px;
  }
}
.modal-form-input {
  width: 100%;
  height: 45px;
  padding: 14px 18px 14px 43px;
  border-radius: 13px;
  border: 1px solid rgba(17, 17, 17, 0.05);
  box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.03);
  outline: transparent;

  transition: border-color var(--anim);
}
@media only screen and (min-width: 768px) {
  .modal-form-input {
    height: 68px;
    padding: 22px 64px;
    font-size: 24px;
  }
}
.modal-form-input:focus {
  border-color: var(--accent-cl);
}
.modal-form-input::placeholder {
  opacity: 0;
  transition: opacity 250ms ease 300ms;
}
.modal-form-input:focus::placeholder {
  opacity: 1;
}
.modal-form-icon {
  position: absolute;
  left: 24px;
  bottom: 22px;

  fill: none;
  stroke: rgb(64, 64, 64);
  transition: stroke var(--anim);
}
@media only screen and (max-width: 767px) {
  .modal-form-icon {
    width: 17px;
    height: 17px;
    left: 18px;
    bottom: 14px;
  }
}
.modal-form-input:focus + .modal-form-icon {
  stroke: var(--accent-cl);
}

.modal-form-comment {
  width: 100%;
  height: 91px;
  padding: 14px 18px;

  font-size: 14px;
  letter-spacing: -0.36px;
  color: rgba(64, 64, 64, 0.3);

  outline: transparent;
  border-radius: 13px;
  border: 1px solid rgba(17, 17, 17, 0.05);
  resize: none;
  transition: border-color var(--anim);
}
@media only screen and (min-width: 768px) {
  .modal-form-comment {
    height: 137px;
    padding: 22px 24px;
    font-size: 18px;
  }
}
.modal-form-comment:focus {
  border-color: var(--accent-cl);
}
.modal-form-comment::placeholder {
  color: currentColor;
}
/* agreement block */
.modal-form-agreement {
  display: flex;
  align-items: center;
  gap: 12px;

  margin-bottom: 32px;
}
@media only screen and (min-width: 768px) {
  .modal-form-agreement {
    margin-bottom: 40px;
  }
}
.modal-form-custom-checkbox {
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;

  width: 20px;
  height: 20px;

  border: 1px solid rgba(17, 17, 17, 0.14);
  border-radius: 6px;

  transition: border-color var(--anim), background-color var(--anim), box-shadow var(--anim);
}

.modal-form-checkbox:checked + .modal-form-custom-checkbox {
  border-color: var(--accent-cl);
  background-color: var(--accent-cl);
}
.modal-form-checkbox:focus + .modal-form-custom-checkbox {
  box-shadow: 0 0 0 4px rgb(253, 146, 34, 0.25);
}

.modal-form-checkbox-icon {
  opacity: 0;
  transform: scale(0.3);
  transition: opacity 300ms cubic-bezier(0, 0, 1, 1.8) 150ms,
    transform 300ms cubic-bezier(0, 0, 1, 1.8) 150ms;
}
.modal-form-checkbox:checked + .modal-form-custom-checkbox > .modal-form-checkbox-icon {
  opacity: 1;
  transform: scale(1);
}
.modal-form-agreement-desc {
  user-select: none;
  color: var(--grey-cl-40);
}
@media only screen and (max-width: 767px) {
  .modal-form-agreement-desc {
    font-size: 12px;
    line-height: 1.33;
  }
}
.modal-form-link {
  color: var(--accent-cl);
  text-decoration: underline;
}
/**
  |============================
  | Mobile menu
  |============================
*/
.menu-toggle {
  min-height: 28px;
  min-width: 28px;
  display: flex;
  align-items: center;
  justify-content: center;

  padding: 0;
  background-color: transparent;
  border: none;
  outline: none;
}

@media (min-width: 768px) {
  .menu-toggle {
    display: none;
  }
}

.menu-toggle:hover,
.menu-toggle:focus {
  background-color: rgba(0, 0, 0, 0.1);
}
.menu-toggle-icon {
  stroke: var(--main-dark-cl);
}
.menu-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  padding: 136px 20px 20px;
  background-color: #1e1823;
  z-index: 999;

  transform: translateX(100%);
  transition: transform 250ms ease-in-out;
}

.menu-container.is-open {
  transform: translateX(0);
}

.menu-container .menu-toggle {
  position: absolute;
  top: 20px;
  right: 20px;
  color: var(--main-light-cl);
}

.mobile-menu {
  width: fit-content;
  margin: 0 auto;
  margin-bottom: auto;
}
.mobile-menu-item:not(:last-child) {
  margin-bottom: 24px;
}
.mobile-menu-link {
  color: #fff;
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: -0.28px;
}

.mobile-networks {
  display: flex;
  gap: 18px;
}
.mobile-networks-item {
}
.mobile-networks-link {
}
.mobile-networks-icon {
  stroke: var(--main-light-cl);
  fill: none;
}
